.cartIcon {
    display: flex;
    cursor: pointer;
}

.cartInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: var(--theme-700);
}

.cartRemoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: rgb(116, 7, 7);
}

.cartOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 1;
}

.cart {    
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 2;   
    padding: 25px;
    animation: fadeIn 0.3s ease-in-out;
    align-items: center;
}

.cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.cartHeaderText {
    font-size: 20px;
    font-weight: bold;
    color: var(--theme-700);
}

.cartBody {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 220px);
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
    gap: 10px;    
    animation: fadeIn 0.3s ease-in-out;
    
}

.cartBodyItem {  
    padding: 10px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 0px 5px var(--theme-700);       
    border-radius: 10px;
}

.cartBodyQuantityPrice {
    display: flex;
    margin-top: 4px;
    align-items: center;
    justify-content: space-between;
}
.cartBodyItemQuantity {
    display: flex;
    gap: 18px;
    align-items: center;
}

.cartBodyItemPrice {
    display: flex;
    gap: 18px;
    align-items: center;
}
.cartFooterText {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: bold;
    color: var(--theme-700);
}

.cartFooterActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .cartFooterActions {
        justify-content: flex-end;
        gap: 15px;
    }
    .cart {
        max-width: 900px;
    }
}