.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.inputLabel {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--theme-300);
}

.input {
    width: 100%;
    height: 2.5rem;
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--theme-700);
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--theme-300);
    background-color: rgba(0,0,0,0.05);
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in-out;
}

.input:active, .input:focus {
    border-bottom: 2px solid var(--theme-300);
}

.input::placeholder {
    color: var(--theme-700);
    font-size: 18px;
    font-family: 'Share-TechMono';
}