.productList {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 20px;
   gap: 25px;
   align-items: center;
   justify-content: center;
}

.productList__filters {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 20px;
   gap: 25px;
   justify-content: center;
   align-items: center;
}

.productList__filterInput {
   width: 250px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 500;
   color: #333;
}

.productList__filterInput:active, .productList__filterInput:focus {
   outline-color: var(--theme-600);
}

@media (min-width: 520px) {
   .productList {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100vw;
      align-items: center;
   }

   .productList__filters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100vw;
      align-items: center;
   }
}
