.order {
    padding: 20px;
}

.orderWarn {
    padding: 10px;
    background-color: #ebe1b8;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.orderErrors {
    margin: 4px 0;
    padding: 10px;
    background-color: #f2dede;
    border-radius: 5px;
    color: #a94442;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.orderTitle {
    font-size: 24px;
    padding: 10px;    
    text-align: center;
}

.orderSubtitle {
    font-size: 18px;
    padding: 10px;
    color: var(--theme-700);
}

.orderInputsDivided {
    display: flex;
    gap: 8px;
}

.orderSelectInput {
   width: 50%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   font-weight: 500;
   color: #333;
}


.orderSelectInput:active, .orderSelectInput:focus {
   outline-color: var(--theme-700);
}
.orderDeliveryInfo {
    font-size: 16px;
}

.orderSummaryHeader {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    color: var(--theme-700);
    display: flex;
    border-bottom: #ccc 1px solid;
}

.orderSummaryHeader span:first-of-type {
    display: flex;
    width: 70%;
}

.orderSummaryHeader span:last-of-type {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    padding-right: 0px 10px;
}

.orderSummary {
    padding: 10px;    
    font-weight: 500;
    color: #333;
    list-style: none;
}

.orderItem {
    padding: 10px;    
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    color: #333;
    display: flex;
    min-height: 100px;
}

.orderItem h3 {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    width: 70%;
    padding: 10px;
}

.orderItem h3 p {
    font-size: 12px;
    font-weight: 500;
    color: #333;
    padding: 10px 0px;
}

.orderItem span {
    font-size: 16px;
    display: flex;
    height: 80px;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    color: #333;
    width: 30%;
    padding: 10px;
}

.orderValues {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
    padding-right: 0px 10px;
    font-size: 16px;
}

.orderValue {
    color: var(--theme-700);
    font-weight: bold;
}

.orderActions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 0;
    gap: 10px;
}



