.navbar {
    display: flex;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px var(--theme-700);
}

.navbar__menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: var(--theme-700);
    color: #fff;
    cursor: pointer;
    margin-right: 10px;

}